* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	--header-height: 50px;
	--sidebar-width: 500px;
}

#main {
	min-height: 100vh;
	max-height: 100vh;
}

#header {
	height: var(--header-height);
}

#content {
	width: 100vw;
	height: calc(100vh - var(--header-height));
	display: flex;
}

#sidebar {
	width: var(--sidebar-width);
	height: inherit;
}

#canvas_container {
	width: calc(100vw - var(--sidebar-width));
	height: inherit;
}

#sidebar textarea {
	width: calc(100% - 24px);
	margin-left: 10px;
	height: 99%;
	resize: none;
	font-size: 16px;
}

canvas {
	background-color: black;
}
